/* Copyright 2009 TiVo Inc. All Rights Reserved. */

BODY { font-family: sans-serif }
H1 { font-size: x-large }
TH { font-size: small }
TD { font-size: small }

table.dataTable tr, table.dataTable td
{
    font-size: 10pt;
}

table.dataTable th
{
    background-color: #ddd;
}

.console
{
    background-color: #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 1em;
}

th.console
{
    font-family: trebuchet ms,sans-serif;
    font-size: 14pt;
}
